// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * sass/widgets/_misc.scss - Miscellaneous small widgets
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

/*
 * Spinner
 */

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}

spinner {
  background-image: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme('process-working-symbolic');
  
  &:checked {
    opacity: 1;
    animation: spin 0.8s cubic-bezier(0.1, 0, 0.9, 1) infinite;
    
    &:disabled {
      opacity: 0.6;
    }
  }
}

/*
 * Overscroll effect
 */

rubberband,
.rubberband,
.view.rubberband {
  background-color: rgba($color_theme_1, 0.2);
}

/*
 * Symbolic Images
 */

image {
  color: inherit;
}

// Duffeyrolls not donuts?
.dnd {
  border-radius: $corner_radius;
  background-color: rgba($color_theme_1, 0.2);
  background-image: none;
}

.keycap {
  border-radius: $corner_radius;
  background-color: $overlay_color;
  font-size: 85%;
}

/* 
 * Calendar labels
 */

label {
  .color-dark & {
    color: $inverse_fg_color;
  }

  .color-light & {
    color: $obverse_fg_color;
  }

  .timed & {
    color: $fg_color;
  }
}

/*
 * Disk Space Display
 */

// This is commonly found in Nautilus.

.disk-space-display {
  border: 2px solid transparent;

  &.unknown {
    border-color: if($color=='light', $dark_ui_500, $light_neutral_grey_700);
    background-color: $dark_warm_grey;
    color: $dark_warm_grey;

    &.border {
      color: if($color=='light', $dark_ui_500, $light_neutral_grey_700);
    }
  }

  &.used {
    border-color: $text_blue;
    background-color: $blue;
    color: $blue;

    &.border {
      color: $text_blue;
    }
  }

  &.free {
    // sass-lint:disable-block indentation
    border-color: if($color=='dark', 
      $light_neutral_grey_100, 
      $light_neutral_grey_700);
    background-color: if($color=='dark', 
      $light_neutral_grey_500, 
      $light_ui_900);
    color: if($color=='dark', 
      $light_neutral_grey_500, 
      $light_ui_900);

    &.border {
      color: if($color=='dark', 
        $light_neutral_grey_100, 
        $light_neutral_grey_700);
    }
  }
}
